html, body {
  background-color: #FFF8F8; /* Set background color for both html and body */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100%; /* Make sure the body takes full height of the screen */
}

#root {
  background-color: #FFF8F8; /* This is fine, but it's redundant if it's the same as html/body */
  display: flex;
  justify-content: center;
  align-items: center;
}
.taskopolis-card {
  border-radius: 20px;
  width: 800px; /* Set desired width */
  max-width: 85%; /* Make it responsive */
  margin: auto;
  background-color: #ffffff; /* Adjust to match your background */
  box-shadow: 0px 2px 4px rgb(173, 172, 172);
}
.login-card{
  border-radius: 20px;
  font-family: 'Inter';
  font-weight: 900;
  width: 800px;
  box-shadow: 1px 1px 1px rgb(173, 172, 172);
  perspective: 1000px; /* Provides a 3D perspective */
  margin-bottom: 170px;
}
.signup-card{
  border-radius: 20px;
  font-family: 'Inter';
  font-weight: 900;
  width: 800px;
  box-shadow: 1px 1px 1px rgb(173, 172, 172);
  perspective: 1000px; /* Provides a 3D perspective */
  margin-bottom: 150px;
}
.building-container{
  border-radius: 20px;
  width: 800px; /* Set desired width */
  max-width: 85%; /* Make it responsive */
  height: 100px;
  margin: auto;
  background-color: #ffffff; /* Adjust to match your background */
  box-shadow: 0px 2px 4px rgb(173, 172, 172);
}
.demo-task-card{
  border-radius: 25px;
  width: 700px; /* Set desired width */
  max-width: 70%;
  background-color: #ffffff; /* Adjust to match your background */
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgb(173, 172, 172);
}
.login-form{
  gap: 300px;
}
@keyframes wiggle {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

.wiggle {
  animation: wiggle 0.5s ease-in-out infinite;
}
.checks{
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  background-color: #f0f0f0;
}
.title-login{
  position: absolute;
  padding-left: 120px;
  font-family: 'Inter';
  font-weight: 800;
}
.title{
  padding-left: 120px;
  font-family: 'Inter';
  font-weight: 800;
}
.uppertext{
  color: #009DFF;
  font-weight: 900;
  font-family: 'Inter';
  font-size: 70px;
}
.lowertext{
  font-weight: 900;
  font-family: 'Inter';
  font-size: 70px;
}
.tagline{
  font-weight: 900;
  font-family: 'Inter';
  font-size: 20px;
}
.gamify-button {
  background-color: #009DFF; /* Light blue color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px; /* Rounded corners */
  font-size: 15px;
  font-family: 'Inter';
  cursor: pointer;
  font-weight: 900;
}
.social-icon{
  max-height: 80%;
  width: 10px;
}
.social-signup{
  display: flex;
  flex-direction: row;
}
.account-button {
  background-color: transparent; /* No background color */
  color: black;
  padding: 0;
  font-weight: 900;
  border: none;
  font-size: 12px;

  font-family: 'Inter';
  text-decoration: none;
  cursor: pointer;
}
.buttons{
  width: 35%;
}
.checks-image{
  position: relative;
}
.arrowimg{
  mix-blend-mode:color-burn;
  color: #000;
  position: relative;
  margin-left: 100px;
}
.btn {
  background-color: #000;
}
label{
  font-weight: 300;
}
